.block--type-sidebar {
  background-color: $blue;
  color: white;
  width: 83%;
  padding: 1px 30px 30px;

  .nav-link.active {
    background-color: $blue;
    font-size: 26px;
    font-family: 'Trajan Pro';
    padding: 0 0 15px;
  }

  li.dropdown-item {
    background-color: $blue;
    padding: 5px 20px;
    border-left: 1px solid $grey;
    font-size: 16px;

    a {
      color: white;
    }

    a:hover {
      font-weight: 700;
    }

    &.active a {
      font-weight: 700;
    }
  }

  .dropdown_action {
    display: none;
  }

  .sidebar-arrow {
    display: none;
  }
}

span[property="schema:name"] {
  display: none;
}

@include media-breakpoint-down(lg) {
  .block--type-sidebar {
    padding: 10px 0 20px;

    .nav-link.active {
      font-size: 22px;
      padding: 0 10px 5px;
      margin-left: 15px;
    }

    li.dropdown-item {
      padding: 0;
      font-size: 14px;
      margin-left: 25px;
      border-left: 1px solid $grey;
      width: 100px;

      a {
        margin-left: -10px;
      }
    }

    .navbar-nav {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(md) {
  .block--type-sidebar {
    width: 100%;

    li.dropdown-item {
      margin-left: 28px;
      padding: 5px 0;

      a {
        margin-left: 25px;
      }
    }

    button#dropdown_action {
      float: right;
      margin-top: -25px;
      margin-right: 20px;
      display: block;
      background-color: $blue;
      border: none;

      &:after {
        content: '\f107';
        font-family: 'Font Awesome 5 Free', serif;
        font-weight: 900;
        color: #ffffff;
        font-size: 14px;
      }
    }

    li.dropdown-item {
      width: 80%;
    }

    ul:not(:first-child) {
      display: none;
    }

    .dropdown-menu.show {
      display: block;
      margin-top: 10px;
    }
  }
}
