.ui-accordion {
  margin: auto;
}

.faqfield-question, .faqfield-answer {
  background-color: #f5f5f5;
  border: 1px solid $grey_border;
  color: #2b2b2b;
  min-height: 27px;
  display: block;

  p {
    margin: 0;
  }
}

.faqfield-question.ui-accordion-header {
  padding: 20px 40px 20px 20px;

  &:focus-visible {
    outline: none;
  }
}

.faqfield-answer.ui-accordion-content {
  padding-top: 0;
}

.faqfield-question {
  font-size: 16px;
  padding-right: 50px;
}

.faqfield-answer {
  font-size: 15px;

  p {
    margin: 0 20px 12px;
  }
}

.ui-accordion-header-collapsed {
  &:after {
    content: '';
    width: 20px;
    height: 15px;
    position: absolute;
    top: 30px;
    right: 10px;
    transition: all .3s;
    background-repeat: no-repeat;
    background-image: url('../images/arrows/faq-arrow-down.png');
    background-size: 12px;
  }
}

.ui-accordion-header-active {
  &:after {
    content: '';
    width: 20px;
    height: 15px;
    position: absolute;
    top: 30px;
    right: 10px;
    transition: all .3s;
    background-repeat: no-repeat;
    background-image: url('../images/arrows/faq-arrow-up.png');
    background-size: 12px;
  }
}

.ui-accordion-header-active {
  font-weight: 600;
  border-bottom: none;
}

.ui-accordion-header-collapsed:not(:last-child), .faqfield-answer {
  margin-bottom: 20px;
}

.ui-accordion-header-icon {
  display: none;
}